<div class="container">
    <mat-card class="toolbar">
        <div>Demo toolbar</div>

        <div>
            <button
            mat-stroked-button
            color="primary"
            (click)="changeDateFromParent()">
                Change date
            </button>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="compact"
                (change)="onCompactChange()">
                Compact
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="addButton"
                (change)="onAddButtonChange()">
                Add button
            </mat-checkbox>
        </div>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <ng-mat-calendar
                [options$]="calendarOptions$"
                [events$]="events$"
                [selectedDate$]="date$"
                (eventClick)="handleEventClick($event)"
                (dateChange)="handleDateChange($event)"
                (addButtonClick)="handleAddButtonClick()">
            </ng-mat-calendar>
        </mat-card-content>
    </mat-card>
</div>
