<div class="container">
    <mat-card class="toolbar">
        <div>Demo toolbar</div>

        <div>
            <button
                mat-stroked-button
                color="primary"
                (click)="changeDateFromParent()">
                Change date
            </button>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="compact"
                (change)="onCompactChange()">
                Compact
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="addButton"
                (change)="onAddButtonChange()">
                Add button
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="viewToggle"
                (change)="onViewToggleChange()">
                View toggle
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="enableDatePickerButton"
                (change)="onDatePickerButtonChange()">
                Datepicker
            </mat-checkbox>
        </div>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <ngx-mat-calendar
                [options$]="calendarOptions$"
                [events$]="events$"
                [selectedDate$]="date$"
                (eventClick)="handleEventClick($event)"
                (dateChange)="handleDateChange($event)"
                (addButtonClick)="handleAddButtonClick()">
            </ngx-mat-calendar>
        </mat-card-content>
    </mat-card>
</div>
