<div class="container">
    <mat-card class="toolbar">
        <div>Demo toolbar</div>

        <div class="toolbar__content">
            <button
                mat-stroked-button
                color="primary"
                (click)="changeDateFromParent()">
                Change date
            </button>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="compact"
                (change)="onCompactChange()">
                Compact
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="addButton"
                (change)="onAddButtonChange()">
                Add button
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="viewToggle"
                (change)="onViewToggleChange()">
                View toggle
            </mat-checkbox>

            <mat-checkbox
                class="toolbar__checkbox"
                [checked]="enableDatePickerButton"
                (change)="onDatePickerButtonChange()">
                Datepicker
            </mat-checkbox>

            <mat-form-field
                appearance="outline"
                class="toolbar__theme-switch">
                <mat-select
                    [value]="selectedTheme"
                    (selectionChange)="onThemeChange(theme.value)"
                    #theme>
                    <mat-option value="theme-blue-grey">Blue Grey</mat-option>
                    <mat-option value="theme-deep-purple">Deep Purple</mat-option>
                    <mat-option value="theme-indigo-pink">Indigo Pink</mat-option>                    
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <ngx-mat-calendar
                [options]="calendarOptions"
                [events]="events"
                [selectedDate]="date"
                (eventClick)="handleEventClick($event)"
                (dateChange)="handleDateChange($event)"
                (addButtonClick)="handleAddButtonClick()">
            </ngx-mat-calendar>
        </mat-card-content>
    </mat-card>
</div>
