.container {
    height: 100%;

    .mat-card {
        height: 100%;
        max-height: calc(100vh - 100px);
        margin: 1rem;
        background-color: #FFF;
    }

    .mat-card-content {
        height: 100%;
    }
}